/*! @group Section Magazine */
/* ========================================================================== */
//Последний номер
#section0 {
	background-color: $fourth;
	@extend %section;
	//margin-top: 58px;

	@include grid-media($XSmall) {
		display: none;
	}

	@include grid-media($Small) {
		display: none;
	}
}


/* @end  */
